@import 'variables.scss';
@import 'header/header.scss';
@import 'items/items-listing.scss';


.page-title{
	font-size: 30px;
	font-weight: 700;
	margin-bottom: 20px;
}

.dużo{
	color: #a72da3; 
}

.niewiele{
	color: #bf1818;
}

.brak{
	color: #d6800;
}